.header {
  height: 60px;
  background-color: #ffee58;
  font-size: 40px;
  padding-left: 2rem;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #c9bc1f;
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 1px;
}

.web{
  background-image: ;
}

